In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv("../data/spotify_dataset.csv", on_bad_lines="skip")

In [19]:
df.columns = df.columns.str.replace("\"", "")
df.columns = df.columns.str.replace("name", "")
df.columns = df.columns.str.replace("\s+", "", regex=True)

In [20]:
df.head()

,user_id,artist,track,playlist
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12891680 entries, 0 to 12891679
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   object
 1   artist    object
 2   track     object
 3   playlist  object
dtypes: object(4)
memory usage: 393.4+ MB

In [22]:
df[df.user_id == "9cc0cfd4d7d7885102480dd99e7a90d6"]

,user_id,artist,track,playlist
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010
...,...,...,...,...
99,9cc0cfd4d7d7885102480dd99e7a90d6,Bruce Springsteen,The River,IOW 2012
100,9cc0cfd4d7d7885102480dd99e7a90d6,Bruce Springsteen,We Take Care Of Our Own,IOW 2012
101,9cc0cfd4d7d7885102480dd99e7a90d6,Bruce Springsteen,Wrecking Ball,IOW 2012
102,9cc0cfd4d7d7885102480dd99e7a90d6,Pearl Jam,Yellow Ledbetter,IOW 2012
103,9cc0cfd4d7d7885102480dd99e7a90d6,Elbow,the birds,IOW 2012

In [23]:
df.describe()

                                 user_id     artist     track  playlist
count                           12891680   12858112  12891595  12890434
unique                             15918     289821   2032044    157504
top     4398de6902abde3351347b048fcdc287  Daft Punk     Intro   Starred
freq                              295275      36086      6676   1337085

We see that there are some missing values.

In [26]:
df.isna().sum()

user_id         0
artist      33511
track           0
playlist     1246
dtype: int64

We need to delete the rows that have missing value in the track column so we can recommend songs.

In [25]:
df = df.dropna(subset=['track'])

Now, we check the top 10 artists, songs (tracks), and users.

In [28]:
df['artist'].value_counts()[:10]

Daft Punk             36086
Coldplay              35485
Radiohead             31429
The Rolling Stones    30832
Kanye West            29111
JAY Z                 28928
Eminem                28894
Queen                 28079
David Bowie           27802
Michael Jackson       26336
Name: artist, dtype: int64

In [29]:
df['user_id'].value_counts()[:10]

4398de6902abde3351347b048fcdc287    295274
7ee2b92c5bcf6133b8132363e5bda960     90630
99deafd9b792af8e6a535483088faef2     65909
fa849dabeb14a2800ad5130907fc5018     60713
6b85a8076b4f3b1036ef15f09e2feeeb     39669
ed140fce438f59e6e07e5ee7bd726692     33197
2fa1f93e57cfe2f6c4456e98da54061c     31607
c0efe4e704a37894150489b25eac9042     25960
c410ee930bd5f0e4893632503ec17b05     25277
c2d2fed26e858f82fdd8ac2e791cab1f     24855
Name: user_id, dtype: int64

In [30]:
df['track'].value_counts()[:10]

Intro          6676
Home           5600
Closer         3549
Runaway        3350
Hold On        3224
Radioactive    3189
Forever        3055
Stay           2993
Alive          2936
Wake Me Up     2794
Name: track, dtype: int64

In [43]:
df['artist'] = df['artist'].str.replace("[^a-zA-Z0-9 ]", "", regex=True)
df['track'] = df['track'].str.replace("[^a-zA-Z0-9 ]", "", regex=True)
df['artist'] = df['artist'] .str.replace("\s+", "", regex=True)
df['track'] = df['track'] .str.replace("\s+", "", regex=True)

In [44]:
df = df[df.track != ""]

In [45]:
df.groupby(["artist", "track"], sort=True)["track"].agg("count")

artist                track
                      01OnTheStreetWhereYouLive                              1
                      02                                                     2
                      03                                                     3
                      03CanYouHearMe                                         1
                      04                                                     2
                                                                            ..
zurdokmovimento       derrumbedeldesfile                                     1
zweitausendeinsTraum  AsymmetricMatteoMoneroRemix                            1
zwieRZ                ALightThatNeverComes                                   1
zyko                  HunterMaverickHunterXOpeningStageVile                  1
                      ZeldaTwilightPrincessOfTwilightandRedemptionOCReMix    1
Name: track, Length: 2744139, dtype: int64